
@import url(style.css);

.article-moon>*{
    color: white;
}
/* .article-moon{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-content: center;
    
    height: 80vh;
} */



  
.nav-planets{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}

.nav-planets  a{
    cursor: pointer;
    display: flex;
    justify-content: space-around;

}
.title-planet{
    display: flex;
    justify-content: center;
    margin: 0;
}
.title-planet b{
    font-size: 6rem;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
}
.center-title-planets{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.nav-planets a{
    font-family: var(--FONTFAMILY-BELLEFAIR);
    text-transform: uppercase;
}
.nav-planets a{
    
    padding: 1rem;
    cursor: pointer;
}
.nav-planets a:hover{
    border-bottom: 1px solid white;
}
/* .div-link-planets:hover{
    box-shadow: 0px .2rem 0px 0px rgba(255, 255, 255, 0.66);
} */

.position-info-distance >*{
    font-family: var(--FONTFAMILY-BELLEFAIR);
    text-transform: uppercase;
}
.position-info-distance{
    display: grid;
    grid-template-columns: repeat(2, 30%);
    justify-content: center;
}

.styles-info-distance{
    display: flex;
    flex-direction: column;

}
.styles-info-time{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.styles-info-time >*{
    text-align: start;
}

.moon-styles{
    display: flex;
    justify-content: center;
}


.div-dont-forget{

    display: flex;
    justify-content: center;
}

.div-dont-forget p{
    font-family: var(--FONTFAMILY-BELLEFAIR);
}

.center-hr{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.center-hr > div {
    width: 62%;
}
.hr-planets{
    
    width: 100%;
}


.end-numbers{
    padding-top: .7rem;
    font-size: 1.4rem;
    font-family: 'Bellefair', serif;
}


