.nav-style a{
    color: var(--text-color);
    
    
}







.nav-position{
    width: 100%;
    display: flex;
    justify-content: end;
    
    
}

.div-nav-style{
    cursor: pointer;
    height: 4rem;
    display:inline-flex;
    align-items: center;
    
}
.div-nav-style:hover{
    
    border-bottom: 2px solid  white;
    height: 4rem;
    
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    width: 23px !important;
    height: 3px !important;
    background-color: rgb(255, 252, 252) !important;
}
.onfocus{
    outline:0px 2px  solid  white;

    height: 4rem;
}


.line-and-logo-nav{
    display: flex;
    
    align-items: center;
    width: 50%;
}

.line-and-logo-nav > div >img{
    max-width: 100rem;
    
}
/* .onfocus{
    cursor: pointer;
    height: 4rem;
    display:flex;
    align-items: center;
    border-bottom: 2px solid  white;

} */

