
@import url(style.css);


img{
    max-width: auto !important;
}

.article-engineer-desk{
   
      
    width: 90%;
    height: 80vh;
    align-content: center;
    
    margin: 0 3rem;
    
   
}
.article-engineer-mob{
    display: none;
}
.article-engineer-desk > *{
    color: white;

}

.crew-irani-location{
    display: flex;
    justify-content: flex-start;
    height: 25vh;
    margin: auto;
    width: 20rem;
    font-family: var(--FONTFAMILY-BELLEFAIR);
}
.tittle-meet-crew {
    display: inline-flex;
    font-size: 2rem;
    margin: 1rem 0 6rem 0;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
}


.img-crew{
    width:auto ;
    height:20% !important;  
    /* padding: 3rem; */
}
.a-crew-styles{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}



.content-image-crew-comander{
    
    height:74vh;
    display: flex;
    flex-wrap: wrap;
    align-content:end ;
    background-image: url(/starter-code/assets/crew/image-douglas-hurley.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 10rem;
}
.content-image-crew-specialist{
    
    height:74vh;
    background-image: url(/starter-code/assets/crew/image-mark-shuttleworth.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x:center ;
}
.content-image-crew-pilot{
    
    height:74vh;
    display: flex;
    flex-wrap: wrap;
    align-content:end ;
    background-image: url(/starter-code/assets/crew/image-victor-glover.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.content-image-crew-flight{
    
    height:74vh;
    display: flex;
    flex-wrap: wrap;
    align-content:end ;
    background-image: url(/starter-code/assets/crew/image-anousheh-ansari.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.section-info-desk{
    height: 62vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.nav-crew-buttons{
    position: relative;
    top: 3vh;
    padding: 1.5rem;
    display: flex !important;
    justify-content: space-evenly !important; 
    width: 30% !important;
}

.nav-crew-buttons a{
    display: flex;
    align-items: center;
    padding: .5rem;
    cursor: pointer;
    height: 1px;
    width:  1px;
    
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.303);
}
.nav-crew-buttons a:hover{
    display: flex;
    align-items: center;
   
    transition: ease-in-out .2s ;
    background-color: rgba(255, 255, 255, 0.89);
    
}
.nav-crew-buttons a:not(:hover){
    
    transition: ease-in-out .2s ;
}


.ansari-style p{
    font-size: 3rem;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;

}



.flight-eng{
    
    padding: 1rem 1rem;
}

.div-crew-styles-desk{
    display: grid;
    grid-template-columns:  41% 62%;
    padding: 0 2rem;
    width: 100%;
    height: fit-content;
    position: relative;
    top: 6rem;
}

.dimention-text{
    display: flex;
    height: auto;
    width: 75%;
    
}


.correct-size-scpecialist{
    
    width: 160%;
    
    height: 84vh;
}

.styles-flight{
    font-size: 2rem;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
}
.all-text-align{

    display: flex;
    flex-direction: column;
    text-align: start;
    
}



