
@import url(style.css);


.tecnology-style >*{
    color: white;
}

.article-tecnology{
    
    display: grid;
    grid-template-columns: 23% 49% 39%;
    
    height: 60vh;
    align-content: center;
    
}
.tittle-meet-tecnology{
    display: flex;
    justify-content: start;
    padding: 2rem;
    font-size: 2rem;
    font-family: var(--FONTFAMILY-BELLEFAIR);
    text-transform: uppercase;
}
.div-tittle-tecnology{
    
    display: grid;
    grid-template-columns: 50% 50%;
}
.section-title-tec{
    width: 100%;
}
.nav-crew-tecnology{
    margin: 1rem 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 15%;
    
    
}
.text-terminology-style{
    font-family: var(--FONTFAMILY-BELLEFAIR);
    text-transform: uppercase;
}
.nav-crew-tecnology a{
    font-size:45px;
    margin: 1.7rem 0;
    padding: 23px;
    border-radius: 50%;
    border: 1px solid white;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.nav-crew-tecnology a:hover{
    background-color:white;
    color: black;
    transition: ease-in-out .5s;
}
.nav-crew-tecnology a:not(:hover){
    transition: ease-in-out .5s;
    
}

.section-about-tecnology >*{
    padding: 1rem;
}

.div-launch-vehicle p{
    font-family: var(--FONTFAMILY-BELLEFAIR);
    
}
.div-launch-vehicle p{
    height:100%;
}
.div-launch-vehicle{
    padding: 2rem;
    width: 20rem;
}
.div-text-capsule{
    display: inline-flex;
    width: 100%;
}
.parr-launch-veh{
    padding: 0;
    font-size: 3rem;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
        

}
.section-about-tecnology{
    width: 100%;
    
}

.image-veh img{
    height: 27rem;
}
.img-capsule-size{
    height: 27rem !important;

}