@media screen and (max-width: 900px) {
    

    .article-engineer-mob{
        display: grid;
        grid-template-rows:17% 49% 40%;
        grid-template-columns: 100%;
        justify-content: center;
        height:69vh;
        margin: 0 auto;
        text-align: center;
    }
    
    .article-engineer-desk{
        display: none;
    }
    
    
    .div-crew-styles-mob{
        display: grid;
        grid-template-rows: repeat(4, 30%);
        grid-template-columns: 100vh;
    }
    img{
        max-width: auto !important;
    }
    
    
    .article-engineer-mob > *{
        
        color: white;
    
    }
    
    .crew-irani-location{
        display: flex;
        justify-content: flex-start;
        height: 5vh;
        margin: auto;
        width: 20rem;
        font-family: var(--FONTFAMILY-BELLEFAIR);
    }
    .tittle-meet-crew {
        display: inline-flex;
        font-size: 2rem;
        margin: 1rem 0 6rem 0;
        font-family: 'Barlow Condensed', sans-serif;
        text-transform: uppercase;
    }
    
    
    .img-crew{
        width:auto ;
        height:20% !important;  
        /* padding: 3rem; */
    }
    .a-crew-styles{
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
  
    .content-image-crew-comander{
        
        border-bottom: .5px solid rgba(255, 255, 255,0.3);
        height:36vh;
        display: flex;
        align-content:end ;
        background-image: url(/starter-code/assets/crew/image-douglas-hurley.webp);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    .content-image-crew-specialist{
        
        border-bottom: .5px solid rgba(255, 255, 255,0.3);
        height:36vh;
        display: flex;
        align-content:end ;
        background-image: url(/starter-code/assets/crew/image-mark-shuttleworth.webp);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    .content-image-crew-pilot{
        
        border-bottom: .5px solid rgba(255, 255, 255,0.3);
        height:36vh;
        display: flex;
        align-content:end ;
        background-image: url(/starter-code/assets/crew/image-victor-glover.webp);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    .content-image-crew-flight{
        
        border-bottom: .5px solid rgba(255, 255, 255,0.3);
        height:36vh;
        display: flex;
        align-content:end ;
        background-image: url(/starter-code/assets/crew/image-anousheh-ansari.webp);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    .nav-crew-buttons{
        position: relative;
        top: 3vh;
        padding: 1.5rem;
        display: flex !important;
        justify-content: space-evenly !important; 
        width: 77% !important;
        margin: 0 auto;
    }
    
    .nav-crew-buttons a{
        display: flex;
        align-items: center;
        padding: .5rem;
        cursor: pointer;
        height: 1px;
        width:  1px;
        
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.303);
    }
    .nav-crew-buttons a:hover{
        display: flex;
        align-items: center;
       
        transition: ease-in-out .2s ;
        background-color: rgba(255, 255, 255, 0.89);
        
    }
    .nav-crew-buttons a:not(:hover){
        
        transition: ease-in-out .2s ;
    }
    
    
    .ansari-style p{
        font-size: 6vw;
        font-family: 'Bellefair', serif;
        text-transform: uppercase;
    
    }
    
    
    
    .flight-eng{
        
        padding: 1rem 1rem;
    }
    
    .div-crew-styles{
        
        
        height: auto; 
        display: grid;
        grid-template-rows: 51% 83%;
        order: 2;
        width: 75%;
        margin: 0 auto;
        justify-content: center;
    }
    .section-info{
        order: 2;
        margin: 0 auto;
    }
    .section-links{
        order: 1;
    }
    .dimention-text{
        display: flex;
        height: auto;
        width: 100%;
        
    }
    
    .ansari-style {
        width: auto;
    }
    .correct-size-scpecialist{
        
        width: auto;
        
        height: 42vh;
    }
    
    .styles-flight{
        font-size: 1rem;
        font-family: 'Bellefair', serif;
        text-transform: uppercase;
    }
    .all-text-align{
    
        display: flex;
        flex-direction: column;
        text-align: start;
        
    }
    

}