
@import url(/codigoCSS/style.css);

:root{
    --text-color: white;
}
body{
   
    /* background-repeat: no-repeat; */
    height: 100vh;
   
    /* background-position: center; */
    /* object-fit:fill; */
    /* background-size:cover; */

    font-size: 1rem;
    /* margin: 30%; */
    position: relative;
}
a{
    color:var(--text-color)
}
h1,h2,h3,h4,.subheading1{
    font-family: 'Bellefair', serif;
  
  }
  
  h5,a{
    font-family: 'Barlow Condensed', sans-serif;
  }
  
  h1{
    font-size: 9.375rem;
  }
  
  h2 {
    font-size: 6.25rem;
  }
  
  h3{
    font-size: 3.5rem;
  }
  
  h4{
    font-size: 2rem;
  }
  
  h5{
    font-size: 1.75rem;
  }
  
  .subheading1{
    font-size: 1.75rem;
  }
  
  a{
    font-size: 1rem;
  }
  .main-article{
    height: fit-content;
    height: auto;

    
  }
.div-grid{
    
    height: 60%;
    width: 90%;
    display: grid ;
    grid-template-columns: 80% 30%;
   

}


.bg-image{
  background-image: url("/starter-code/background-home-desktop.jpg");
   background-repeat: no-repeat;
   height: 100vh;
   background-position: center;
   object-fit:fill;
   background-size:cover;
   position: relative;
  

}
.bg-image2{
  background-image: url("/starter-code/assets/destination/background-destination-desktop.jpg");
   background-repeat: no-repeat;
   height: 100vh;
   background-position: center;
   object-fit:fill;
   background-size:cover;
   position: relative;
  

}
main{
 
    
    height: auto;
    /* position: absolute; */
    width: 100%;

}
main >*{
    color: var(--text-color);
}

.div-explore{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15rem;
  height: 15rem;
  width: 15rem;
  cursor: pointer;
  margin: 7rem 0;
}
.div-explore:hover{
 
  border: rgba(63, 73, 165, 0.166) solid 1rem; 
  transition: ease-in-out .4s;

}

.div-explore:not(:hover){
  transition: ease-in-out .4s;

}
.you-want-travel-style, .space-text{
    letter-spacing: 5px;
    width: fit-content;
    text-transform: uppercase;
}
.space-text{
    font-size: 7rem;
}
.space-style{
    margin: 1rem auto;
}
.div-explore p{
  cursor: pointer;
    color: black ;
    font-size: 2rem;
    text-transform: uppercase;

}
.article-info-home{
    margin: 1rem;
    padding: 2rem;
}
.parr-spacetravel-style p{
    height: fit-content;
    width: 20rem;

}
.parr-spacetravel-style{
    
    margin: 3rem 0;
    width: fit-content;
}
.article-explore{   
  top: 0rem;
  position: relative;
  margin:  auto;
  
}
.style-content-img{
  width: 30%;
  height: auto;
}

.wheel-explore{
  position: relative;
  border-radius: 50%;
  background-color: rgba(240, 255, 255, 0.444);
  width: 15rem;
  height:15rem ;
}


/* hr{
  
  position: relative;
  top: 5px;
  width: 49rem;
  font-size: 3px !important;
  height: 2px !important;
} */
.style-hrdiv{
  transform: translateX(5%);

}
.div-content-hr{
  width: 93%;
  z-index: 999;
  position: relative;
  top: .3rem;
}
